@{
    ViewData["Title"] = "Login Page";
}

<h1>Login</h1>
<hr/>
<div class="text-center">
 <form  action="/home/validate">

  <label for="empid">Empid</label><br>
  <input type="number" id="empid" name="empid" required><br>
  
  <label for="ename">Ename</label><br>
  <input type="text" id="ename" name="ename" ><br><br>
  
  <input type="submit" value="Submit">
</form> 
</div>
