@{
    ViewData["Title"] = "Register Page";
}

<h1>Register</h1>
<hr/>
<div class="text-center">
 <form  action="/home/register">
    <label for="empid">Empid</label><br>
    <input type="number" id="empid" name="empid"><br>
    
    <label for="ename">Ename</label><br>
    <input type="text" id="ename" name="ename"><br>
    
    <label for="esal">Esal</label><br>
    <input type="number" id="esal" name="esal"><br>
    
    <label for="deptname">Deptname</label><br>
    <input type="text" id="deptname" name="deptname"><br>

    <input type="submit" id="submt" name="submt"><br>
  </form> 
</div>
